<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>name</key>
        <string>Rattler</string>
        <key>uuid</key>
        <string>DC996F8D-3CB3-404B-A0BE-454C0A63CA49</string>
    </dict>
</plist>
